<!-- Intro Header -->
    <!-- <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="heading">Blogger</h1>
                        <p class="intro-text">A simple page for blogging.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header> -->

<h1>Posts</h1>
  <div class="panel panel-primary">
    <% @post.each do |post| %>
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to post.title, post_path(post) %></h3>
    </div>
    <div class="panel-body">
      <%= post.body.truncate(400, omission: '... (continued)') %>
      <% if post.user %>
      <p class="created-by"> Created by:
        <%= post.user.full_name %></p>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
<%= paginate(@post) %>
